@model RedefinirSenhaModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
@if (TempData["MensagemErro"] != null)
{
         <div class="alert alert-danger" role="alert">
             <button type="button" class="btn btn-danger btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["MensagemErro"]
         </div>
}


<form asp-controller="Login" asp-action="EnviarLinkRedefinirSenha" method="post">
    <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="text" asp-for="Email" class="form-control" id="Email" aria-describedby="emailHelp">
        @Html.ValidationMessageFor(x => x.Email)
  </div>
    <button type="submit" class="btn btn-primary btn-block">Redefinir a senha</button>
    <a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Login" role="button">Voltar</a>
</form>
