@model UsuarioModel
@{
    ViewData["Title"] = "Pagina de Registro";
}

@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
			@TempData["MensagemSucesso"]
  </div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">x</button>
		@TempData["MensagemErro"]
	</div>
}

<div class="text-center">
	<h2>Registro de Conta</h2>
	<form asp-controller="Usuario" asp-action="Criar" method="post">
		<label for="nome">Nome Completo:</label><br>
		<input type="text" asp-for="Name" id="nome" required><br><br>
		<label for="email">Endereço de E-mail:</label><br>
		<input type="email" asp-for="Email" id="email" required><br><br>
		<label for="senha">Senha:</label><br>
		<input type="password" asp-for="Password" id="senha" required><br><br>
		<label for="confirme_senha">Confirme a Senha:</label><br>
		<input type="password" id="confirme_senha" required><br><br>
		<input type="submit" value="Registrar">
	</form>
</div>
