@model List<PasswordModel>


@if(Model != null && Model.Any()){
    foreach (var pass in Model){
       <div class="group-template">
        <div class="name">
            <button id="group-name" onclick="editPasswordOn()">@pass.Name</button>
        </div>
        <div class="area-edit">
            <button id="btn-exclude" onclick="deletePasswordOn()" class="btn-edit"><i class="fa fa-trash" id="btn-exclude"></i></button>
        </div>
        </div>

    }

}else
{
           <div class="group-template">
        <div class="name">
            <button id="group-name" onclick="editPasswordOn()">Não existe senhas</button>
        </div>
        </div>
}
