@model GrupoModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Pagina Inicial";
}


<div class="window">
 <h1 class="main-title">Cadastrar grupo</h1>
    <form class="user-data" asp-controller="Painel" asp-action="CriarGrupo" method="post">
        <label class="input-label" for="name">Nome</label>
        <input class="user-input" type="text" asp-for="Name" placeholder="Digite o nome do grupo">
        @Html.ValidationMessageFor(x => x.Name)
       <div class="btn-functions">
        <button class="btn-style" id="entrar">Cadastrar</button>
    </div>
    
</form>
<a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Painel" role="button">Voltar</a>
    