
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*Tela para portáteis*/
@media screen and (max-width: 600px) {

    @keyframes MainTextSlideLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0%;
        }
        60% {
            transform: translateX(10%);
            opacity: 80%;
        }
        100% {
            transform: translateX(0%);
            opacity: 100%;
        }
    }
 
    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        
        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
    
    .background {
        background: linear-gradient(to top right , #773daa, rgb(34, 1, 56));  
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .circles {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 0px;
        height: 0px;
        animation: animate 25s linear infinite;
        bottom: -300px;
    }
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(11){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(12){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(13){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(14){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(15){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .lock {
        max-width: 100%;
        max-height: 100%;
    }
  
    header {
        width: 100%;
        height: 15%;
    }
    nav {
        width: 100%;
        height: 90%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label.title {
        position: relative;
        display: flex;
        font-size: 22px;
        margin: 10px;
        color: white;
        cursor: pointer;
        justify-content: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        left: -120%;
        z-index: 1;
        position: fixed;
        width: 0%;
        top: 15%;
        transition: 1s;
        padding: 20px;
        border-radius: 20px;
        background: #2c1c3a;
        box-shadow: 0px 5px 10px black;
        align-items: center;
    }
    nav ul li {
        display: block;
        line-height: 80px;
        width: 100%;
        margin: 10px;
    }
    nav ul li a {
        color: white;
        font-size: 14px;
        position: relative;
        padding: .75rem 1.25rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        background: linear-gradient(to top right , #380069, #9626ff);
    }
   
    nav ul li a:hover {
        transition: 0.3s;
        background: linear-gradient(to top right , #6120db, #ac81fd);

    }
    nav ul li a:active {
        transition: 0.3s;
        background: linear-gradient(to top right , #53009c, #931fff);
    }
    
    
    .check-btn {
        cursor: pointer;
        position: relative;
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        font-size: 30px;
        margin-left: 10%;
        width: 5%;
        transition: 1s;
        z-index: 1;
    }
    .check-btn::before {
        content: '';
        position: absolute;
        background: #9f2efc;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        transition: 1s;
    }
    
    #check:checked ~ .check-btn{
        transition: 1s;
        transform: rotate(180deg);
    }
    #check:checked ~ .check-btn::before{
        transition: 1s;
        transform: rotate(180deg);
        opacity: 1;
    }
    
    #check {
        position: relative;
        display: none;
    }
    #check:checked ~ ul {
        display: flex;
        flex-direction: column;
        left: 5%;
        width: 90%;
        transition: 1s;
    }
   

    main {
        width: 100%;
        height: 85%;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;        
    }

    
    .window {
        position: relative;
        display: flex;
        background-color: #ffffff;
        width: 90%;
        height: 95%;
        border-radius: 20px;
        flex-direction: column;
        padding: 30px;
        position: relative;
        text-align: center;
        animation: MainTextSlideLeft ease-out 1s;
        box-shadow: 0px 5px 10px black;
        overflow: hidden;
    }

    .main-title {
        color: black;
        font-size: 30px;
        line-height: 40px;
        padding: 10px;
    }
    
    .manager-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: rgb(160, 160, 160);
        border-radius: 20px;
        overflow: hidden;
    }
    .btn-create {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: right;
        width: 100%;
        height: 100px;
        background: #2c1c3a;
        border-radius: 20px;
        box-shadow: 0px 5px 5px black;
        font-size: 125%;
    }
    #new-group {
        background-color: rgb(0, 150, 0);
        box-shadow: 0px 5px 0px rgb(0, 75, 0);
        border: none;
        margin: 15px;
        width: 80px;
        height: 60px;
    }
    #new-group:active {
        background-color: rgb(0, 75, 0);
        box-shadow: 0px 2px 0px rgb(0, 37, 0);
        transform: translateY(4px);
    }
    #new-group:active ~ .overlay {
        display: block;
    }
   
    .group-zone {
        padding-top: 15px;
        height: 85%;
        width: 100%;
        border-radius: 20px;
        overflow: auto;
    }
    .group-template {
        width: 100%;
        height: 70px;
        display: none;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 10px;
        background: #4c266d;
    }
    .name {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .name:active {
        background: #8b47c7;
    }
    #group-name {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        border-radius: 10px;
        border: none;
        align-items: center;
        background: none;
        color: white;
        font-size: 150%;
        cursor: pointer;

    }
    .user-group {
        width: 100%;
        height: 70px;
        display: none;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 10px;
        background: #4c266d;
    }
    
    .area-edit {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left-style: solid;
        border-color: #06000e73;
        background: none;
    }
    .btn-edit {
        background: none;
        display: flex;
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .btn-edit:active {
        background: #8b47c7;
    }
    #edit-icon {
        color: white;
        font-size: 36px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-input {
        display: flex;
        height: 25%;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-around;
        padding: 5%;
        border: none;
        outline: none;
        background-color: rgb(207, 207, 207);
        border-radius: 15px;
    }
    ::placeholder {
        text-align: center;
    }
    
   
    .popup .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 2;
        display: none;
        transition: 0.5s;
    }
    
    .popup .content {
        position: absolute;
        left: 5%;
        top: 25%;
        width: 50%;
        background: #fff;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        scale: 1;
        width: 90%;
        height: 350px;
        z-index: 2;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px black;
        scale: 0;
    }
    
    .popup .close-btn {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: rgb(115, 0, 223);
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        color: white;
    }
    .popup .close-btn:hover {
        background: #a82121;
    }
    .popup .close-btn:active {
        background: #570000;
    }
    .btn-popup {
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .btn-style-popup {
        width: 30%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: rgb(115, 0, 223);
        color: white;
        font-size: larger;
        font-weight: bolder;
        cursor: pointer;
    }
    .btn-style-popup:hover {
        background: rgb(162, 71, 247);
    }
    .btn-style-popup:active {
        background: rgb(64, 0, 124);
    }
    #confirm-popup {
        background-color: rgb(5, 155, 0);
    }
    #confirm-popup:hover {
        background-color: rgb(0, 190, 92);
    }
    #confirm-popup:active {
        background-color: rgb(0, 104, 40);
    }

    #cancel-popup {
        background-color: rgb(121, 0, 0);
    }
    #cancel-popup:hover {
        background-color: rgb(167, 0, 0);
    }
    #cancel-popup:active {
        background-color: rgb(75, 0, 0);
    }
    
    #overlay-edit {
        display: none;
    }
    #content-edit {
        scale: 0;

    }
    #delete-popup {
        background-color: rgb(255, 153, 0);
        color: black;
        font-weight: bolder;
        font-size: larger;
    }
    #delete-popup:active {
        background-color: rgb(255, 102, 0);
    }

    .btn-style-mobile {
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: 80%;
        cursor: pointer;
        text-align: center;
    }
    
    .btn-style-desktop {
        display: none;
    }
}

/*Tela para desktop*/
@media screen and (min-width: 601px) {
    
    @keyframes MainTextSlideLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0%;
        }
        60% {
            transform: translateX(10%);
            opacity: 80%;
        }
        100% {
            transform: translateX(0%);
            opacity: 100%;
        }
    }
 
    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        
        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }

    .background {
        background: linear-gradient(to top right , #773daa, rgb(34, 1, 56));  
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .circles {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 0px;
        height: 0px;
        animation: animate 25s linear infinite;
        bottom: -300px;
    }
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(11){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(12){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(13){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(14){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .circles li:nth-child(15){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .lock {
        max-width: 100%;
        max-height: 100%;
    }
  
    header {
        width: 100%;
        height: 15%;
    }
    nav {
        width: 100%;
        height: 90%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        display: none;
    }

    nav #check {
        display: none;
    }

    label.title {
        position: relative;
        display: flex;
        font-size: 22px;
        margin: 10px;
        color: white;
        cursor: pointer;
        justify-content: center;
    }

    .btn-header {
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 10%;
        margin-right: 20%;
        cursor: pointer;
    }
    #logout {
        background-color: rgb(148, 0, 0);
    }
    #logout:hover {
        background-color: #ff5757;
    }
    #logout:active {
        background-color: #520000;
    }
    .check-btn {
        display: none;
    }
    
    .btn-style-desktop {
        color: white;
        background: rgb(132, 0, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 100%;
        cursor: pointer;
    }
    .btn-style:hover {
        background-color: #9b4caf;
    }
    .btn-style:active {
        background-color: #743983;
    }

    main {
        width: 100%;
        height: 85%;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;        
    }

    
    .window {
        position: relative;
        display: flex;
        background-color: #ffffff;
        width: 90%;
        height: 95%;
        border-radius: 20px;
        flex-direction: column;
        padding: 30px;
        position: relative;
        text-align: center;
        animation: MainTextSlideLeft ease-out 1s;
        box-shadow: 0px 5px 10px black;

    }

    .main-title {
        color: black;
        font-size: 30px;
        line-height: 40px;
    }
    
    .user-input {
        display: flex;
        height: 25%;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-around;
        padding: 5%;
        border: none;
        outline: none;
        background-color: rgb(207, 207, 207);
        border-radius: 15px;
    }
    ::placeholder {
        text-align: center;
    }
    
    
   
    
   

}


