@model RedefinirSenhaModel
@{
    Layout = "_LayoutEsqueceSenha";
    ViewData["Title"] = "Redefinição";
}

<div class="container">
                    <div class="window">
                        <h1 class="main-title">Alteração de Senha...</h1>
                        <form class="user-data" asp-controller="RedefinirSenha" asp-action="AlterarSenha" method="post">
                            <label class="input-label for="email>Alterar Senha Master</label>
                            <input class="user-input" placeholder="•••••••••••••••" type="password" asp-for="Password" id="email" required="required">
                            <label class="input-label for="email>Confirmar nova Senha Master</label>
                            <input class="user-input" placeholder="•••••••••••••••" type="text" id="email" required="required">
                        <div class="btn-functions">
                            <button class="btn-style" id="entrar">Alterar</button>
                        </div>
                        </form>    
                    </div>
            </div >